/* DEBUG */

.debug  [class*="col-"] {
  border: 3px solid black;
  height: 100px;
}

@font-face {
    font-family: "SailecLight";
    src: url("../font/SailecLight.woff") format('woff');
}
@font-face {
    font-family: "SailecLightItalic";
    src: url("../font/SailecLightItalic.woff") format('woff');
    font-style: italic;
}@font-face {
    font-family: "SailecMedium";
    src: url("../font/SailecMedium.woff") format('woff');
    font-weight: bold;
}@font-face {
    font-family: "SailecRegular";
    src: url("../font/SailecRegular.woff") format('woff');
}
@font-face {
    font-family: "SailecBold";
    src: url("../font/SailecBold.woff") format('woff');
    font-style:normal;
}

/* HEADER */

.navbar-brand img {
  width: 150px;
}

.navbar-nav {
  float: right;
}

.navbar-nav li {
  color: black;

}

header {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.jumbotron {
  background-color: transparent;
  color: white;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 7rem;
}

.jumbotron p {
  color: #b9cafc;
}

.myform {
  background-color: white;
  color: #031c4e;
  border-radius: 5px;
}

.myform h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.input-group-btn {
  display: block;
  width: 100%;
}

.input-group-btn .btn-default {
  width: 100%;
}

.google {
  width: 20px;
  float: left;
}

.navbar-btn {
  color: #579aff;
  border-color: #579aff;
}

.hamburger {
  line-height: 50px;
  border: none;
  background-color: white;
  color: lightblue;
}
/* /////////////////////////// */
/* CUSTOMER SECTION */

#customers img {
  max-width: 100%;
  max-height: 100%;
}

#customers [class*="col-"] {
  height: 100px;
  line-height: 100px;
}

#customers h4 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #8b95ab;
}

/* ///////////////////// */
/* FUNCTION SECTION */
#functions {
  margin-top: 50px;
}

#functions h1 {
  font-weight: 700;
  color: #031c4e;
}

#functions h3 {
  font-weight: 700;
  color: #031c4e;
  font-size: 2rem;
}

#functions h4 {
  font-weight: 500;
  color: #66738f;
  font-size: 2rem;
}

#functions p {
  font-size: 1.5rem;
  color: #5c6a88;
}

.unordered {
  font-size: 2rem;
  color: #5c6a88;
}

.unordered li {
  padding-bottom: 6px;
  padding-left: 10px;
  list-style-type: none;
  border-left: 2px solid #b8b9bb;
}

/* ///////////////////////// */
/* DEVELOPER SECTION */
#developers {
  margin-top: 50px;
}

#developers h1 {
  font-weight: 700;
}

#developers p {
  font-weight: 500;
  color: #66738f;
  font-size: 2rem;
}

.bg-screenshot img {
  max-width: 100%;
}

.centered {
  position: relative;
  top: 220px;
}

.centered button {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

[class*="fa-circle"] {
  color: #006aff;
}

/* /////////////////////////////// */
/* FEATURES SECTION */

#features h1 {
  font-weight: 700;

}

#features h4 {
  font-weight: 600;

}
#features > * {
    color: #031c4e;
}

#features p {
  color: #919aae;
}
/* //////////////////////// */
/* REGIONS SECTION */

#regions h1 {
  font-weight: 700;
  margin-top: 50px;
}
.regions-ul {
  list-style-type: none;
  margin-bottom: 50px;
}

.regions-ul li:not(:last-child) {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.initial {
  float: left;
  font-size: 13px;
  width: 80px;
  margin-left: 10px;
}
.country {
  font-size: 13px;
  margin-left: 0px;
  width: 350px;
}

.speed-test {
  float: right;
}


/* ////////////////////// */
/* GET STARTED SECTION */
#get-started button {
  border-radius: 5%;

}

/* //////////////////////// */
/* FOOTER */
footer ul {
  list-style-type: none;
}

footer .title {
  font-weight: bold;
  color: white;
}

.text-grey {
  color: #7A859D;
}

footer i {
  padding-right: 10px;
}



/* HELPER */
.black-text {
  color: black;
}

.white-text {
  color: white;
}

.blue-text {
  color: blue;
}
.pg-top {
  padding-top: 40px;
}
.pg-all {
  padding: 20px;
}

.pg-10 {
  padding: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-bot {
  margin-top: 50px;
  margin-bottom: 50px;
}

.relative {
  position: relative;
}


/* BACKGROUND  */
.bg-blue {
  background-color: #579aff;
}
.navbar {
  background-color: white;
  color: black;
}

#customers {
  background-color: #F3F5F9;
}

#functions {
  background-color: white;
}

#developers {
  background-color: #f3f5f9;
}

#regions {
  background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
}

#feedback {
  background-color: #f3f5f9;
}

#get-started {
  background-color: #0033ae;
}

footer {
  background-color: #031C4E;
}

/* MEDIA QUERY FOR SMALL DEVICES */
@media all (min-width: 768px){

  #customers > img {
    width: 80px;
    height: 80px;
  }

}

/* MEDIA QUERY FOR MEDIUM DEVICES */
@media all (min-width: 992px){

  #customers > img {
    width: 80px;
    height: 80px;
  }

  .dev-screen {
    width: 50%;
  }

}

/* MEDIA QUERY FOR LARGE DEVICES */
@media all (min-width: 1200px){

  #customers > img {
    width:100%;
    height:100%;
  }

}
